<div class="row">
    <div class="col-xs-4">
    <div class="align">
   <p><strong>Project Leader:</strong></p>
   <p><%= @project.user.email %></p>
   <br>
   <p><strong>Description:</strong></p>
   <p><%= @project.description %></p>

   <% if current_user == @project.user %>
      <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-custom' %> 
   <% end %>
    </div>
    </div>
  <div class="col-xs-8 offset4">
    <div class='files'>
      <h3>Editing Task</h3>
      <%= render 'form' %>
    </div>
  </div>
</div>