<div class="members">
<h4>Team Members</h4>
<% if @project_user.count == 0 %>
  You are currently working alone<br>
<% else %>
  <table class="table table-hover table-striped table-bordered">
    <thead>
    </thead>

    <tbody>
      <% @project_user.each do |project_user| %>
        <tr>
          <td class="vert-align"><%= project_user.email %></td>
          <% if current_user == @project.user %>
            <td class="vert-align"><%= link_to('Remove', project_project_user_path(@project, project_user), method: :delete, :class => 'btn btn-danger')%></td>
          <% end %>
          <% if current_user.email == project_user.email %>
            <td class="vert-align"><%= link_to('Remove', project_project_user_path(@project, project_user), method: :delete, :class => 'btn btn-danger')%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_user == @project.user %>
  <%= link_to 'Add user', new_project_project_user_path(@project), :class => 'btn btn-custom' %> 
<% end %>
</div>
